<section>
  <div class="container">
    <div class="card category-card">
      <span>Sport</span>
      <div>
        <button class="btn btn-sm">
          <fa-icon [icon]="trashIcon"></fa-icon>
        </button>
        <button class="btn btn-sm margin-left-sm">
          <fa-icon [icon]="commentsIcon"></fa-icon>
        </button>
        <button class="btn btn-sm margin-left-sm">
          <fa-icon [icon]="playIcon"></fa-icon>
        </button>
      </div>
    </div>
    <input class="input margin" type="text" placeholder="Nazwa kategorii">
    <button class="btn margin">
      <fa-icon [icon]="pusIcon"></fa-icon>
    </button>
  </div>
</section>
